body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 300;
  font-style: normal;
  background-color: #693EB7;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FFF;
  width: 60vw;
  min-height: 60vh;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px 0;
}